﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Campo Alegre<br />
    Turmero. Edo. Aragua - Venezuela<br />
    <abbr title="Teléfono"></abbr>
    +58 0412 740 2414
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ofcadavidm@gmail.com">ofcadavidm@gmail.com</a><br />    
</address>