﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jakemate S.A.</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://www.jkmatesoftware.com.ar/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            Instale un Software Integral que cubra todas las áreas de su empresa, un software que soporte su crecimiento, un software con presencia en el mercado,
            un software desarrollado en forma especifica para su actividad. Un nuevo concepto en Software de Gestión que integra soluciones a medida con software 
            de gestión estándar, cubriendo todas las necesidades de su empresa en una sola aplicación.
        </p>
        <p><a class="btn btn-success" href="http://www.jkmatesoftware.com.ar/productos_JKMate">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://www.jkmatesoftware.com.ar/servicios">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-warning" href="http://www.jkmatesoftware.com.ar/">Learn more &raquo;</a></p>
    </div>
</div>